/*
    Created on : Apr 20, 2016, 12:46:26 PM
    Author     : Ardi
*/

.select2-container--default .select2-selection--single {
    height: 2.2em;
    /*border-radius: 0;*/
}

.select2-dropdown,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-bottom: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}


.error {
    color: red !important;
}

.required {
    font-weight: bold;
    color: red;
}

.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 15px !important;
    padding-left: 15px !important;
    border-radius: 0 !important;
    opacity: 0.6;
}

.list-download > .list-download-title {
    box-sizing: border-box;
    /* margin-top: 16em; */
    font-size: 13pt;
    line-height: 2;
}

.list-download {
    border-bottom: 1px solid rgb(216, 229, 240);
    padding-bottom: 5px;
}

.row-condensed {
    margin-top: 10px !important;
}

.margin-bottom-lg {
    margin-bottom: 30px;
}

.padding-bottom-lg {
    padding-bottom: 10em !important;
}

.content-list-download > h2 {
    text-align: center !important;
}

.opacity-6 {
    opacity: 0.6 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.footer-info {
    padding: 2em;
    line-height: 2;
    background: transparent !important;
    color: #FFFFFF;
    font-size: 12pt;
    text-align: center;
}

.bg-transparent {
    background: transparent !important;
    background-color: transparent !important;
}

.widget-map {
    position: absolute;
    /* background-color: rgba(0,0,0,0.6); */
    color: #FFFFFF;
    top: 10%;
    margin-left: 10px;
    width: 20%;
}

#tbllacak {
    margin: 30px auto;
    text-align: left;
    font-weight: bold;
    color: #808080;
}

#tbllacak > tbody > tr > td {
    padding-right: 60px;
    padding-bottom: 7px;
}

.margin-top-sm {
    margin-top: 1em !important;
}

/*select2*/
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: -3px !important;
}

/*.select2-container--default .select2-selection--single {*/
/*height: 2.5em !important;*/
/*}*/

#map_navigation {
    position: absolute;
    right: 0px;
    z-index: 1;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    opacity: 0.55;
    float: right;
    text-align: center;
    padding: 7px 7px 7px 7px;
}

#zoom_in_btn {
    cursor: pointer;
}

#zoom_out_btn {
    cursor: pointer;
    margin-top: 10px;
}

#mark_image {
    position: absolute;
}

/*
    REKOMENDASI TEKNIS
*/
div .panel-baru {
    background-color: white;
    color: #58666e;
}

/*
    AUTOCOMPLETE
*/
.ui-tooltip {
    background: white;
    /*color: #96f226;*/
    margin-left: 50px;

}

.ui-autocomplete {
    border: 1px solid #3c8dbc;
    background: white;
    border-radius: 0px;
    width: 100px;
}

/*.ui-autocomplete.source:hover {
}*/
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-menu .ui-menu-item {
    font-size: 13px;
    font-family: sans-serif;
    background-color: white;
}

/*
.ui-menu .ui-menu-item a{
    font-size:13px;
    font-family: sans-serif;
    border: none;
}*/

.ui-menu .ui-menu-item a:hover {
}

.ui-menu .ui-menu-item:hover {
    background-color: #3c8dbc;
    color: white;
}

.ui-menu .ui-menu-item:active {
    background-color: activeborder;
    color: white;
}

.ui-menu .ui-menu-item:enabled :focus {
    background-color: activeborder;
    color: white;
}

#project-label {
    display: block;
    font-weight: bold;
    background-color: none;
}

#project-description {
    margin: 0;
    padding: 0;
}

li.pilihan {
    display: block;
    margin-left: -40px;
    border-bottom: 1px solid darkgrey;
}

li.pilihan:hover {
    font-weight: bold;
}

li.pilihan a:hover {
    font-weight: bold;
}

li.pilihan:active {
    background-color: #3c8dbc;
    font-weight: bold;
}

li.pilihan:focus {
    background-color: #3c8dbc;
    font-weight: bold;
}

.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}

.form-horizontal .control-label.text-left {
    font-weight: bold;
}

.no-overflow {
    overflow: hidden;
}


/*Alert Helper*/
.alert-absolute {
    position: absolute;
    z-index: 100;
    right: 0;
    margin: 5rem;
}