.container{
	background-color: white;
	padding: 0px;

}

.jumbotron {
	background: url(../img/background3.png);
	height: 480px;
	width:100%;
	margin-top: 170px !important;
	margin-bottom: 0px !important;


}	

.street {
	background-color: #8C8C8C;
	height: 105px;
	width: 100%;
	margin: 0px;
}

#mark_image {
        position: absolute;   
   }


.blue {
	color: #275B9D;
}


#logodistarcip {

	height: 100px !important;
	/*width: 120px !important;*/
	width: 430px !important;
	margin-right: 10px;
	margin-top: 25px;

}

#deslayanan{
	text-align: justify;
	text-indent: 30px;
}

/*#logodistarcip {
	height: 120px !important;
	width: 120px !important;
	margin-left: 10px;
}*/

#logonamadistarcip {
	display: inline-block;	
	margin-top: 10px;
	width: 300px;

}

.syarat{

	height: 100px;
	width: 100%;
	text-align: left;
	float: right;

}

#btnadministrasi {
	font-size: 17px;
}

.center {

	text-align: left; 
	list-style-position:inside;
}

#tables {

	margin: 0 auto;
	text-align: left;
	color: black;

}

hr {
	width: 500px;
}

.sparate {
	width: 100%;
}

.spacing {
	padding-right: 10px;
	padding-bottom: 10px;
}

.spacinghead {
	padding-right: 100px;
	padding-bottom: 10px;
}

.row {
	margin-top: 30px;

	/*background-color: #E8EFF6;*/
}

#window {
	/*border-top: 3px solid blue;*/
	border-top: 3px solid #6397C4;
} 

#btnpersyaratan {
	font-weight: bold;
	margin-top: 15px;
}

.breadcrumb {
	background-color: white;
	border-bottom: 3px solid #6397C4;
	font-size: 9pt;
	font-weight: bold;
	margin-left: 0;
	padding-bottom: 3px;
	padding-left: 2px;
}

.land {
	text-align: right;
}

.thumbnail {
	background-color: #E8EFF6;
	border: none;
}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}



.menu {
	height: 141px;
	width: 141px;
	display: inline-block;
	background-color: #CDDFF5;
	margin: 30px;
	border: 1px solid #E2E2E2;
	/*padding-top: 50px;*/
	position: relative;
}

.row {
	/*background-color: rgba(99, 151, 196, 0.17) !important;*/
}

.menu > a > img {
	box-shadow: 1px 8px 20px rgba(34, 83, 120, 0.4);
}

.grow {
	transition: all .2s ease-in-out;
}

.grow:hover {
	transform: scale(1.1);
	box-shadow: none;
}


#gambarbtn{
	height: 140px !important;
}

.titlemenu{
	height: 30px;
	width: 120px;
	background-color: #E2E2E2;
	opacity: 0.85;
	border-radius: 10px 10px 0 0;
	position: absolute;
	bottom: -1px;
	left: 10px;
	right: 0;
	padding-top: 5px;
	font-weight: bold;
	font-size: 11pt;
}

.titlemenu:hover,
.titlemenu:focus,
.titlemenu:active{
	background-color: #D0D0D0;
}

#judulpanjang{
	font-size: 12px;
	font-weight: 600;
	margin-top: 2px
}

/*
.menu:hover {
	height: 140px;
	width: 140px;
	display: inline-block;
	background-color: #F3F2F3;
	margin: 30px;
	border: 1px solid silver;
	cursor: pointer;
}*/

/*.menu:active {
	height: 140px;
	width: 140px;
	display: inline-block;
	background-color: #CDCDCD;
	margin: 30px;
	border: 1px solid silver;
	cursor: pointer;
}*/

.header {
	margin-top: 50px;
}

h1 {
	color: #8AB1D3;
	font-size: 70px;
	display: inline;

}

.form-horizontal .control-label {
	text-align: left;
}

#foto-walkot {
	position: absolute;
    left: 80px;
	z-index: 99;
	bottom: -600px;
}

#foto-wali {
	position: absolute;
    right: 80px;
	z-index: 99;
	bottom: -600px;
}

#billboard {
	height: 190px; 
	position: absolute;
    left: 180px;
	z-index: 99;
	bottom: -104px;
}

#ob {
	height: 20px; 
	position: absolute;
    left: 195px;
	z-index: 100;
	bottom: 25px;
}

#telp {
	height: 20px; 
	position: absolute;
    left: 255px;
	z-index: 100;
	bottom: 0px;
}

#email {
	height: 20px; 
	position: absolute;
    left: 220px;
	z-index: 100;
	bottom: -25px;
}

#twitter {
	height: 20px; 
	position: absolute;
    left: 255px;
	z-index: 100;
	bottom: -50px;
}

.caption {
	 

	top: -10px;

}

.caption2 {
	 

	top: -10px;

}

#syarat{
	margin-left: 60px;
	margin-right: 60px;
	/*margin-bottom: 100px;*/

}

.formcontrol{
	display: block;
	width: 220px;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	margin-bottom: 15px;
}

.controllabel{
	/*margin-left: 200px;*/
	float: left;
}


.panel .dataTables_wrapper {
	padding: 0 !important;
}

.dataTables_length,
.dataTables_filter {
	padding: 10px;
}
